<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.als.home">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application>
        <activity
            android:name="com.alllinkshare.home.ui.activities.HomeActivity"
            android:theme="@style/HomeTheme" />
    </application>

</manifest>