<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alllinkshare.cardealing">

    <application>
        <activity android:name=".ui.activities.CarDealingActivity"
            android:theme="@style/CarDealingTheme"/>
    </application>

</manifest>