<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.alllinkshare.auth">

    <application>
        <activity android:name=".ui.activities.VerifyTokenActivity"
            android:theme="@style/AuthTheme" />
        <activity android:name=".ui.activities.VerifyEmailActivity"
            android:theme="@style/AuthTheme" />
        <activity
            android:name=".ui.activities.VerifyCodeActivity"
            android:theme="@style/AuthTheme" />
        <activity
            android:name=".ui.activities.ResetPasswordActivity"
            android:theme="@style/AuthTheme" />
        <activity
            android:name=".ui.activities.RegisterActivity"
            android:theme="@style/AuthTheme" />
        <activity
            android:name=".ui.activities.LoginActivity"
            android:theme="@style/AuthTheme" />
    </application>

</manifest>